html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column; /* deixa na vertical */
}

/* container usado em todas as paginas */
.container-custom {
  max-width: 850px;
  margin-top: 30px;
  background: white;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

textarea {
  height: 180px;
  resize: none;
}

footer {
  font-size: 14px;
}
